.index{
    .banner{
        padding-top: 90px;
        background-image: url(../img/banner.webp);
        @include bg-img-set;
        height: 800px;
        .slogan{
            font-size: 45px;
            line-height: 1.8;
            transition: all 0.3s;
            &:hover,&:active{
                transform: scale(1.1);
            }
        }
    }

    .bg-note{
        position: relative;
        // background-image: url(../img/note1.jpeg);
        background-position: center;
        background-repeat: repeat-y;
        background-size: contain;
        line-height: 1.8;
        padding: 100px 50px;
        h2{
            font-size: 40px;
        }
    }
    .tape{
        width: 200px;
        height: 50px;
        background-color: $primary;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .weapon{
        max-width: 992px;
        line-height: 1.8;
        margin: 50px auto 0;
        li{
            width: 30%;
            .img-1,.img-2,.img-3{
                height: 300px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .img-1{
                background-image:url(../img/wisdom.webp);
            }
            .img-2{
                background-image:url(../img/brave.webp);
            }
            .img-3{
                background-image:url(../img/love.webp);
            }
            p{
                height: 330px;
            }
        }
    }

    .self-intro{
        padding: 100px 0px 200px;
        .pc-img{
            width: 30%;
            position: relative;
            .img-1{
                width: 300px;
                height: 400px;
                border: 3px solid $third;
                position: absolute;
                top: 130px;
                left: 300px;
                z-index: 2;
            }
            .img-2{
                width: 250px;
                height: 350px;
                border: 3px solid $third;
                position: absolute;
                top: 240px;
                left: 100px;
                z-index: 3;
            }
            .img-3{
                width: 400px;
                height: 300px;
                position: absolute;
                top:10px;
                z-index: 1;
            }
        }
        .content{
            width: 50%;
            line-height: 1.5;
            .title{
                padding-left: 50px;
            }
            >ul{
                padding: 0px 50px;
            }
            .border-line{
                max-width:1000px;
                height:2px;
                background: $primary;
            }
            li a,.line,.fb{
                transition: all 0.3s;
                color: $primary;
                &:hover,&:active{
                    color: $font-hover;
                    transform: scale(1.05);
                }
            }
        }
    }
    .self-exp{
        max-width: 1092px;
        padding: 120px 50px 120px;
        .self-exp-img{
            width: 55%;
            height: 300px;
            @include bg-img-set;
        }
        .img-1{
            background-image: url(https://images.pexels.com/photos/372748/pexels-photo-372748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        }
        .img-2{
            background-image: url(https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        }
        .img-3{
            background-image: url(https://images.pexels.com/photos/3183186/pexels-photo-3183186.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        }
        .content{
            width: 45%;
            line-height: 1.5;
            h3{
                border-bottom: 1px solid $primary;
            }
        }
    }
}

@include w1200{
    .index {
        .self-intro .pc-img{
            .img-1{
                width: 250px;
                height: 350px;
                left: 250px;
            }
            .img-2{
                width: 230px;
                height: 330px;
                top: 250px;
                left: 100px;
            }
            .img-3{
                width: 350px;
                height: 250px;
            }
        }
        
    }
}

@include pad{
    .index{    
        .self-intro .pc-img{
            .img-1{
                width: 230px;
                height: 330px;
                left: 200px;
            }
            .img-2{
                width: 200px;
                height: 300px;
                top: 200px;
                left: 50px;
            }
            .img-3{
                width: 330px;
                height: 230px;
            }
        }
        .weapon{
            li p{
                height: 400px;
            }
        }
    }
}

@include w900{
    .index {
        .banner .slogan,.bg-note h2{
            font-size: 35px;
        }
        .self-intro {
            padding: 70px 0;
            flex-wrap: wrap;
            .pc-img{
                display: none;
                width: 100%;
            }
            .mobile-img{
                @include bg-img-set;
                background-image: url(../img/self5.jpg);
                display: block;
                width: 80%;
                margin: 0 auto;
                height: 600px;
                padding: 90px 50px 0px;
            } 
            .content{
                width: 80%;
                margin: 0 auto;
                padding: 50px 0px 90px;
                > ul{
                    padding: 0px;
                }
                .title{
                    padding: 0px;
                }
            }
        }
        .bg-note{
            padding: 100px 50px;
        }
        .weapon{
            flex-wrap: wrap;
            li{
                margin: 0 auto 75px;
                width: 100%;
                &:last-child{
                    margin: 0 auto 0px;
                }
                p{
                    font-size: 20px;
                    height: auto;
                }
            }
        }
    }
}

@include w630{
    .index{
        .banner {
            height: 700px;
            .slogan{
                display: none;
            }
            .slogan-mob{
                display: block;
                font-size: 35px;
                line-height: 1.8;
            }
        }
        .self-intro{
            padding: 90px 50px 20px;
            width: 100%;
            .content{
                width: 100%;
            }
        }
        .self-intro .mobile-img{
            width: 100%;
            padding: 90px 0px 0px;
        }
  
    }
}

@include w520{
    .index{
        .self-intro .mobile-img{
            height: 500px;
        }
        .banner .slogan-mob{
            font-size: 26px;
        }
        .bg-note h2{
            font-size: 24px;
        }
        .weapon li{
            .img-1,.img-2,.img-3{
                height: 250px;
            }
        }
    }
}

@include iphone8-plus{
    .index{
        .self-intro{
            font-size: 18px;
            h2{
                font-size: 24px;
            }
            .mobile-img{
                padding: 50px 50px 0;
            }
            .content{
                padding: 50px 10px;
            }
        }
        .weapon li p{
            font-size: 18px;
        }
    }
}